body {
  font-family: Arial, sans-serif;
}

.page-container {
  background-color: #f4f4f4;
  height: 100%;
  padding: 30px;
}

.tab-container {
  margin-top: 15px;
  max-width: 90%;
  margin: auto;
}

.tab-links {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 17%;
  height: auto;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}
